<mat-icon *ngIf="!sideNavOpen" (click)="changeNav()">menu</mat-icon>
<div  style="background: rgba(128, 128, 128,.5); height: 100vh">
  <mat-sidenav [opened]="sideNavOpen">
    <mat-nav-list style="width: 300px;">
      <button mat-raised-button><mat-icon >home</mat-icon></button>
      <mat-icon (click)="changeNav()">menu</mat-icon>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20px"
                       style=" background: rgba(128, 128, 128,.5);">
          <mat-list-item>
            {{node.name}}
          </mat-list-item>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20px"
                       style=" background: rgba(128, 128, 128,.5);">
          <mat-list-item matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            {{node.name}}
          </mat-list-item>
        </mat-tree-node>
      </mat-tree>
    </mat-nav-list>
  </mat-sidenav>
</div>
