<mat-sidenav-container style="width: 100vw;height: 100vh">
  <app-nav></app-nav>
  <mat-card>
    <mat-card-title>1.1 An Introduction to the Order of Operations</mat-card-title>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Beginning with the basic four
        </mat-panel-title>
      </mat-expansion-panel-header>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/RgVs8mkgHSU" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Simplifying expressions that have explicit grouping
        </mat-panel-title>
      </mat-expansion-panel-header>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/RgVs8mkgHSU" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Simplifying expressions that have implicit grouping
      </mat-panel-title>
    </mat-expansion-panel-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RgVs8mkgHSU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Some practice with vocabulary for the basic four
      </mat-panel-title>
    </mat-expansion-panel-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RgVs8mkgHSU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        The Distributive Property - Part 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RgVs8mkgHSU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        The Distributive Property - Part 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RgVs8mkgHSU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-expansion-panel>
  </mat-card>

</mat-sidenav-container>

