
<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <div *ngFor="let obj of myListObject">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{obj.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <iframe width="560" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(obj.video)' frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-expansion-panel>
  </div>
</mat-card>
